{{#if posts.length }}
<section>
    <ol>
        {{#each posts as |post| }}
        <li class='row border'>
            <article class='col-10'>
                <div id='blog-header' class='row'>
                    <div id='blog-title' class='col-1'>
                        <a href='/dashboard/edit/{{post.id}}'>{{post.title}}</a>
                    </div>
                    <div  id='blog-date' class="col-1">
                        <span>{{format_date post.created_at}}</span>
                    </div>
                </div>
            </article>
        </li>
        {{/each}}
    </ol>
</section>
<div id='post-btn-div' class="row">
    <div class="col-1">
        <a href='/dashboard/newpost'><button type='button' id='post-btn'>+ New Post</button></a>
    </div>
</div>
{{else}}
<div id='post-btn-div' class="row">
    <div class="col-1">
        <a href='/dashboard/newpost'><button type='button' id='post-btn'>+ New Post</button></a>
    </div>
</div>
{{/if}}