<form id='login-form'>
    <div class="row">
        <div id='login-header' class="col-10">
            <h2>Login</h2>
        </div>
    </div>
    <div id="login-div" class="row border">
        <div class="col-10">
            <label for="username-login">Username</label>
        </div>
        <div class="col-10">
            <input type='text' id='username-input-login' />
        </div>
        <div class="col-10">
            <label for='password-login'>Password</label>
        </div>
        <div class="col-10">
            <input type='password' id='password-input-login' />
        </div>
        <div class="col-10">
            <button type='submit' id='login-btn'>Login!</button>
        </div>
        <div class='col-10'>
            <a href="/signup">Sign up instead</a>
        </div>
    </div>
</form>
<script src="/javascript/login.js"></script>