<form id='signup-form'class="mt-2 col-5 text-center mx-auto border-primary">
    <div class="row">
        <div id='signup-header' class="col-10">
            
        </div>
    </div>
    <div id="signup-div" class="row ">
        <div class="col-10">
            <h2>Sign Up</h2>
            <label for="username-signup">Set Username</label>
        </div>
        <div class="col-10">
            <input type='text' id='username-signup' />
        </div>
        <div class="col-10">
            <label for='password-signup'>Set Password</label>
        </div>
        <div class="col-10">
            <input type='password' id='password-signup' />
        </div>
        <div class="col-10 mt-2">
            <button type='submit' id='signup-btn'>Sign Up!</button>
        </div>
        <div class='col-10 mt-2'>
            <a href="/login">LOGIN</a>
        </div>
    </div>
</form>
<script src="/javascript/signup.js"></script>
